// FONT
$font_family              : 'Arial', sans-serif;
$font_weight              : 400;
$line_height              : 28px;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #000000;
$color_primary            : #FF8100;